/* Base Start */
body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 350px;
}

.button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    display: none;
    z-index: 1;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: none;
    overflow: auto;
}

.modal-content {
    padding: 20px;
}

.close-button {
    float: right;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}

/* Base End */

/* Utilities Start */
.mb-12 {
    margin-bottom: 12px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mt-4 {
    margin-top: 4px;
}

.mt-12 {
    margin-top: 12px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-24 {
    margin-top: 24px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.mr-5 {
    margin-right: 5px;
}

.pl-25 {
    padding-left: 25px;
}

.w-100 {
    width: 100%;
}

.p-12-24 {
    padding: 12px 24px;
}

.p-12 {
    padding: 12px;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.me-5 {
    margin-right: 5px;
}

.ms-2 {
    margin-left: 2px;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.color-white {
    color: white;
}

.text-left {
    text-align: left;
}

.background-color-niaga {
    background-color: #007dff;
}

.accent-color-niaga {
    accent-color: #007dff;
}

.background-color-niaga:hover {
    background-color: #0057b2;
}

.background-color-hostinger {
    background-color: #60508f;
}

.accent-color-hostinger {
    accent-color: #6747c7;
}

.color-niaga {
    color: #007dff;
}

.color-niaga:hover {
    color: #0057b2;
}

.color-hostinger {
    color: #6747c7;
}

.background-color-hostmania {
    background-color: #ff4546;
}

.background-color-hostmania:hover {
    background-color: #fd3b3c;
}

.color-hostmania {
    color: #ff2324;
}

.color-hostmania:hover {
    color: #fd0001;
}

.accent-color-hostmania {
    accent-color: #ff4546;
}

.background-color-hosting24 {
    background-color: #4671DD;
}

.background-color-hosting24:hover {
    background-color: #3762d9;
}

.color-hosting24 {
    color: #5e7ece;
}

.color-hosting24:hover {
    color: #3862ce;
}

.accent-color-hosting24 {
    accent-color: #4671DD;
}

.background-color-weblink {
    background-color: #4771B4;
}

.background-color-weblink:hover {
    background-color: #3065b7;
}

.color-weblink {
    color: #5a7cb2;
}

.color-weblink:hover {
    color: #275db2;
}

.accent-color-weblink {
    accent-color: #4771B4;
}

.color-hostinger:hover {
    background-color: #ebe4ff;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.gray-border {
    border: 1px solid #dadce0;
}

.m-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.b-radius-4 {
    border-radius: 4px;
}

.b-radius-2 {
    border-radius: 2px;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.text-decoration-none {
    text-decoration: none;
}

.color-black-50 {
    color: rgba(0, 0, 0, .5);
}

.color-black {
    color: #000;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.underline {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

.non-resizable {
    resize: none;
}

.border-box {
    box-sizing: border-box;
}

.max-width-100 {
    max-width: 100%;
}

.max-width-450 {
    max-width: 450px;
}

.max-height-90 {
    max-height: 90%;
}

.min-width-350 {
    min-width: 350px;
}

/* Utilities End */


/* Components Start */
.logo {
    margin-top: 25px;
    margin-left: 30px;
}

.logo * {
    max-height: 48px;
}

.close-btn {
    margin-left: 15px;
    color: white;
    float: right;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
    line-height: 16px;
}

.title {
    line-height: 1.5;
    font-style: normal;
    color: #43434b;
    text-align: center;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    outline: 0 !important;
    margin-top: 0;
    padding-left: 0;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
}

.input {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    direction: ltr;
    display: block;
    width: 100% !important;
    padding: .85em 1.15em !important;
    font-weight: 400 !important;
    line-height: 1.25 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    transition: all .15s ease-in-out !important;
    font-size: 14px;
  
    height: 48px !important;
    border: 1px solid #DADCE0 !important;
    box-sizing: border-box;
    border-radius: 4px !important;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    box-shadow: none;
}

.height-unset {
    height: unset !important;
}

.primary-action {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    direction: ltr;
    vertical-align: middle;
    box-sizing: border-box;
    word-break: keep-all;
    white-space: nowrap;
    border-radius: .25rem !important;
    border: 1px solid transparent;
    filter: none;
    width: 100% !important;
    padding: .7rem .9rem;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
 
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 53px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.secondary-action {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.error {
    font-size: 12px;
    line-height: 12px;
    color: #FC5185 !important;
    padding-left: 16px;
    height: 12px;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: start;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 15px;
    border-radius: 0.25rem;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    font-weight: 100;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-info {
    background-color: #EBE4FFFF;
    border-color: #ded3ff;
    color: rgb(242, 237, 255);
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.or-wrapper {
    height: 20px;
}

.or-wrapper hr {
    width: 100%;
    position: absolute;
    top: 2px;
    background-color: #dadce0;
    border: none;
    height: 1px;
}

.or-wrapper p {
    padding: 0 10px;
    background: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #979797;
    font-size: 14px;
}

.facebook {
    background-color: #1877f2;
}



.social {
    height: 25px;
}

.not-a-member {
    color: #43434b;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0;
}

.show-password-eye {
    top: 13px;
    right: 10px;
    cursor: pointer;
}

.country-selector {
    line-height: 1.5;
    font-size: 14px;
    color: #2f1c6a;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    margin-bottom: 12px;
    text-decoration: none!important;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

.custom-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    margin: 0;
    font-size: 1em;
    width: 1.1em;
    height: 1.1em;
    border: 1.5px solid #DADCE0;
    border-radius: 0.25em;
    display: grid;
    place-content: center;
    opacity: 0.9;
}

.custom-checkbox input[type="checkbox"]:checked::before {
    content: '✓';
    font-size: 0.85em;
    color: #6e57e0;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: #fff;
}

.custom-checkbox span {
    margin-left: 0.5em;
}
/* Components End */

/* Pages Start */
.flag {
    width: 30px;
    height: 19px;
    display: inline-block;
    background-image: url("/assets/images/flag/flags.png");
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center
}

.flag-gr {
    background-position: -5px -5px;
}

.flag-ar {
    background-position: -5px -34px;
}

.flag-cz {
    background-position: -5px -63px;
}

.flag-sk {
    background-position: -5px -92px;
}

.flag-dk {
    background-position: -5px -121px;
}

.flag-de {
    background-position: -5px -150px;
}

.flag-gb {
    background-position: -5px -179px;
}

.flag-in {
    background-position: -5px -208px;
}

.flag-jp {
    background-position: -5px -237px;
}

.flag-ph {
    background-position: -5px -266px;
}

.flag-us {
    background-position: -5px -295px;
}

.flag-ca {
    background-image: url("/assets/images/flag/canada-flag.png");
    background-size: 30px 19px;
}

.flag-au {
    background-image: url("/assets/images/flag/australia-flag.png");
    background-size: 30px 19px;
}

.flag-es {
    background-position: -5px -324px;
}

.flag-ar {
    background-position: -5px -353px;
}

.flag-co {
    background-position: -5px -382px;
}

.flag-mx {
    background-position: -5px -411px;
}

.flag-et {
    background-position: -5px -440px;
}

.flag-ee {
    background-position: -5px -440px;
}

.flag-fi {
    background-position: -5px -469px;
}

.flag-fr {
    background-position: -5px -498px;
}

.flag-il {
    background-position: -5px -527px;
}

.flag-hr {
    background-position: -5px -556px;
}

.flag-hu {
    background-position: -5px -585px;
}

.flag-id {
    background-position: -5px -614px;
}

.flag-it {
    background-position: -5px -643px;
}

.flag-kr {
    background-position: -5px -672px;
}

.flag-lt {
    background-position: -5px -701px;
}

.flag-lv {
    background-position: -5px -730px;
}

.flag-my {
    background-position: -5px -759px;
}

.flag-nl {
    background-position: -5px -788px;
}

.flag-no {
    background-position: -5px -817px;
}

.flag-pk {
    background-position: -5px -1163px;
}

.flag-pl {
    background-position: -5px -846px;
}

.flag-pt {
    background-position: -5px -875px;
}

.flag-br {
    background-position: -5px -904px;
}

.flag-ro {
    background-position: -5px -933px;
}

.flag-ru {
    background-position: -5px -962px;
}

.flag-se {
    background-position: -5px -991px;
}

.flag-th {
    background-position: -5px -1020px;
}

.flag-tr {
    background-position: -5px -1049px;
}

.flag-ua {
    background-position: -5px -1078px;
}

.flag-vn {
    background-position: -5px -1107px;
}

.flag-cn {
    background-position: -5px -1136px;
}

/* Pages End */

/* Responsive Start */
@media (min-width: 768px) {
    .logo {
        position: absolute;
        top: 30px;
        left: 40px;
        margin: unset;
    }
}

@media (max-width: 768px) {
    .container {
        height: auto;
    }

    .logo {
        display: none;
    }
}

/* Responsive End */

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    z-index: 1000;
    opacity: 0.9;
}

.notification.success {
    background-color: #4caf50; /* Warna hijau untuk notifikasi sukses */
}

.notification.error {
    background-color: #f44336; /* Warna merah untuk notifikasi error */
}
